.about-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.about-container .header{
    font-size: 25px;
    font-weight: bolder;
}

.about-container .title{
    font-size: 18px;
    font-weight: bold;
}

.about-container span{
    color: var(--primary-color);
}

.about-container .content .first-row{
    display: flex;
    gap: 10px;
}

.about-container .content .first-row .right{
    display: flex;
    flex-direction: column;
    background-color: #24cfa717;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
}

.about-container .content .first-row .left{
    background-color: #24cfa717;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-container .content .first-row .right .content{
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-container .content .first-row .right .content .left-content{
    width: 50%;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -8px -8px 0px var(--primary-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.about-container .content .first-row .right .content .left-content:hover{
    box-shadow: 8px 8px 0px var(--primary-color);
}

.about-container .content .first-row .right .content .left-content img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.about-container .content .first-row .right .content .right-content{
    width: 50%;
}

.about-container .content .second-row{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-container .services{
    background-color: #24cfa717;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
}

.about-container .platform{
    background-color: #24cfa717;
    padding: 15px;
    border-radius: 10px;
}

.about-container ul{
    list-style-type: none;
}

.primary-color{
    color: var(--primary-color);
}

@media screen and (max-width: 770px){
    .about-container .content .first-row{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1280px){
    .about-container .content .first-row .right .content{
        flex-wrap: wrap;
    }
    .about-container .content .first-row .right .content .left-content{
        width: 100%;
    }

    .about-container .content .first-row .right .content .right-content{
        width: 100%;
    }
}
