.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.nav-container .logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.nav-container .logo a{
    color: white;
    text-decoration: none;
}

.nav-container .first-row .logo span{
    color: var(--primary-color);
}

.nav-container .first-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-container .first-row .links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-container .first-row .links a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-container .first-row .links a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.nav-container .second-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav-container .second-row a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
    border-bottom: 2px solid black;
}

.nav-container .first-row .bar{
    display: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: bolder;
}

.nav-container .first-row .bar:hover{
    color: var(--primary-color);
}

.nav-container .first-row .links a .services-link{
    cursor: pointer !important;
}

.nav-container .first-row .links a .contact{
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.nav-container .first-row .links a .contact:hover{
    color: black;
    text-decoration: none !important;
    background-color: white;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 770px){
    .nav-container .first-row .links{
        display: none;
    }

    .nav-container .first-row .bar{
        display: block;
    }

    .nav-container .first-row .logo{
        font-size: 22px;
    }
}