.service-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: auto;
  justify-content: center;
  align-items: center;
}

.service-container .header {
  font-weight: bolder;
  font-size: 25px;
  border-bottom: 5px solid var(--primary-color);
  border-radius: 10px;
}

.service-container .header span {
  color: var(--primary-color);
}

.service-container .services {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.service-container .services .service {
  width: 270px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  padding: 20px;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.service-container .services .service:hover {
  transform: scale(1.05);
  background-color: var(--primary-color);
}

.service-container .services .service .title {
  font-weight: bolder;
  color: black;
}

.service-container .services .service i {
  font-size: 35px;
  margin-bottom: 20px;
  color: black;
  text-shadow: 0px 0px 2px black;
  padding: 10px;
  border-radius: 10px;
}

.service-container .services .service .desc {
  font-size: 14px;
  color: black;
}
