.team-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.team-container .title {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.team-container .title span {
  color: var(--primary-color);
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
  flex-grow: 1;
  align-items: center;
}

.team-card {
  background-color: var(--primary-color);
  color: black;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 12px 12px 0px white;
  cursor: pointer;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: 0.3s ease-in-out;
}

.team-card:hover{
  box-shadow: -12px -12px 0px white;
}

.team-card .team-image{
  width: 100%;
  height: 210px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
}

.team-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.team-card img:hover{
    transform: scale(1.09);
    overflow: hidden;
}

.team-info h3 {
  font-size: 18px;
  font-weight: bold;
}

.team-info p {
  font-size: 14px;
  color: #333;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  font-size: 22px;
}

.socials a {
  color: black;
  transition: 0.3s ease-in-out;
}

.socials a:hover{
  color: white;
}

