.value-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: auto;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.value-container .header {
  font-weight: bolder;
  font-size: 25px;
  border-bottom: 5px solid var(--primary-color);
    border-radius: 10px;
}

.value-container .header span {
  color: var(--primary-color);
}

.value-container .values {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.value-container .values .value {
  width: 550px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
  border: 5px solid white;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.value-container .values .value:hover {
  transform: scale(1.03);
  border-color: var(--primary-color);
}

.value-container .values .value .title {
  font-weight: bolder;
}

.value-container .values .value i {
  text-shadow: 0px 0px 2px black;
  font-size: 25px;
  margin-bottom: 20px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: -20%;
}

.value-container .values .value .desc {
  font-size: 14px;
  color: rgb(235, 235, 235);
}

@media screen and (max-width: 620px){
  .value-container .values{
    width: 100%;
  }
}
